/user_software/ClientGUI/nbproject/private/
/user_software/ClientGUI/build/
/user_software/ClientGUI/dist/

# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store